@model AweV1.Models.Programme

@{
    ViewData["Title"] = "Delete";
}

<h2>Löschen</h2>

<h3>
    Sind Sie sich sicher, dass Sie diesen Studiengang löschen möchten?
    Mit dem Studiengang werden auch all seine Thesen unwiderruflich gelöscht.
    
</h3>
<div>
    <h4>Studiengang:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Löschen" class="btn btn-default" /> |
        <a asp-action="Index">Zurück zur Liste</a>
    </form>
</div>
