@{
    ViewData["Title"] = "Über Uns";
}
<h2>@ViewData["Title"]</h2>
<h3>Projektteam</h3>

<p>Wir sind ein junges, motiviertes Team, bestehend aus sechs ambitionierten Wirtschaftsinformatikern. <br/>
    - Since 2020 -
</p>
<img src="/images/Motivation_stock.jpeg" width="60%"/>
