@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>Unsere Daten</h3>

<address>
    Project Uni GmbH<br />
    Würzburg, 97070 Sanderring 1<br />
    <abbr title="Phone">P:</abbr>
    01234567890
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">info@ProjectUniGmbH.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">info@ProjectUniGmbH.com</a>
</address>
